:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --bg-good: #b4e61d;
  --bg-bad: #ed1c23;
  --bg-disabled: #c0c0c0;

  --text-color: #dadce1;
  --text-color-dark: #242526;
  --nav-size: 60px;
  --border: 1ps solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

html {
  background: #f7f7f7;
}

body {
  font-size: 14px;
  font-family: 'Barlow', sans-serif;
  color: rgb(49, 46, 46);
  background: white;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

/* MEDIA QUERIES */
@media (min-width: 800px) {
  body {
    max-width: 1000px;
    text-align: left;
  }

  .smallscreen {
    display: none;
  }

  .largescreen {
    display: inherit;
  }
}

@media (max-width: 799px) {
  .smallscreen {
    display: inherit;
  }

  .largescreen {
    display: none;
  }
}